<h3 style="text-align:center;"><b>Connection List</b></h3>
<h3 style="text-align:center; color:green"><b>{{connMsg}}</b></h3>
<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Index</th>
        <th scope="col">Device Id</th>
        <th scope="col">Username</th>
        <th scope="col">Location</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active" *ngFor="let list of connList; let i=index;">
        <td>{{i+1}}</td>
        <td>{{list._id}}</td>
        <td>{{list.username}}</td>
        <td>{{list.locationname}}</td>
        <td (click)="showMap(list.username,list.locationname,list.latitude,list.longitude,list._id)">
            <button type="button">Show Location on Map</button>
        </td>
        <td><button (click)="stopConn(list._id)">Stop Connection</button></td>
        <td><button (click)="restartConn(list._id)">Restart Connection</button></td>
      </tr>
    </tbody>
  </table>
</div>


<h2 style="text-align:center; color:green">{{msg}}</h2>
<div *ngIf="showDevices" class="col-sm-3" style="top: 0cm">
  <table class="table table-hover" align="left" border=1>
        <th style="background-color: lightslategrey; color: white">Device Id</th>
        <tr *ngFor="let device of displayDevices; let i=index;">
          <td><a href={{device}}>{{device}}</a></td>
        </tr>
  </table>
</div>

<div *ngIf="showMapToAdmin==true">
  <agm-map id="map1" [latitude]="latitude" [longitude]="longitude" id="cname" name="locationcoords">
    <agm-marker [latitude]="latitude" [longitude]="longitude">
      <agm-info-window>
        <input #textInput (input)="myFunction(textInput.value)" value={{value}} placeholder="Drag and drop Device Id">
        <input type="submit" value="Confirm" (click)="connectDevice(textInput.value)">
      </agm-info-window>
    </agm-marker>
</agm-map>
</div>