
<div style="text-align:center; color:red">{{model.errmsg}}</div>
<br>
<div id="login" style="width:300px; margin:0 auto; text-align:center">

  <h4>Login</h4>
    <form class="form" (submit)="loginUser($event)">
      <input type="text" placeholder="Username" />
      <br>
      <input type="password" placeholder="Password" />
     <br>
      <input class="button" type="submit" value="Login" /> or <a class="btn" href="/signup">Create Account</a>
    </form>
</div>
 


<!-- <h3>{{model.message}}</h3> -->