/* .topnav {
  overflow: hidden;
  background-color: #333;
} */

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:active{
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .topnav a:hover, select:hover {
    background-color: green;
  }
  
  .topnav a:focus, select:focus {
    background-color: royalblue;
  }
  
  /* @media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  } */
  
  
  
  select{
    -webkit-appearance: none;
    -moz-appearance: none;
    border-color: #444 #333 #333 #444!important;
    background-color: #333; 
    color:white; 
    padding: 14px 16px; 
    font-size: 17px;
    width:84%;
  }
  
  .right{
    text-align: right;
  }
  
  #chatButton{
    position: fixed;
    bottom: -4px;
    right:0px;
  }
  
  div.chatbox {
    background-color: aliceblue;
    height: 400px;
    overflow: auto;
    position: fixed;
    bottom: 7%;
    right: 0%;
    border:1px solid black; 
    width:20%;
    z-index: 2;
  }
  
  .btn {
    background-color: cornflowerblue; 
  }
  
  #chatdiv {
    bottom: 0;
    left: 0;
  }

  /* Style The Dropdown Button */
.dropbtn {
  background-color: #333;
  color: white;
  padding: 14px 16px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  color: white;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: cornflowerblue}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

  /* .placeholder{color: grey;}
select option:first-child{color: grey; display: none;}
select option{color: #555;} */