<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  


<h3 style="text-align:center;"><b>Connected Devices</b></h3>

<div *ngIf="deviceUsage.length==0" style="width: 160px; height: 30px; position: absolute; margin: auto; top:0; bottom:0; left:0; right:0">No devices connected</div>

<div *ngIf="deviceUsage.length!=0">
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Index</th>
          <th scope="col">Username</th>
          <th scope="col">Device Id</th>
          <th scope="col">Current Usage</th>
          <th scope="col">Total Usage</th>
          <th scope="col">Status</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngFor="let device of deviceUsage; let i=index;">
        <tr class="table-active">
          <td>{{i+1}}</td>
          <td>{{device.uname}}</td>
          <td>{{device.deviceId}}</td>
          <td>{{device.currentusage}}</td>
          <td>{{device.totalusage}}</td>
          <td>{{device.status}}</td>
        
          <td (click)="getData(device.deviceId)">
              <button type="button" class="btn btn-primary">Get real time data</button>
          </td> 
          <td><button class="btn" data-toggle="collapse" data-target="#demo" id="demo" (click)="showFaAwe(device.deviceId)"><i class="fa fa-caret-square-o-down" aria-hidden="true" style="font-size: 30px"></i></button></td>
        </tr>
        <tr>
        <td colspan="8">
            <div *ngIf="chartData.length && showModalData==device.deviceId && showGraph" style="width:600px; margin-left:auto; margin-right:auto;">
                <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [legend]="true" [chartType]="'line'" (chartClick)="onChartClick($event)">
                </canvas>
            </div>
            <div *ngIf="showModal==true && showTabTo==device.deviceId">
                    <img src="/assets/images/water.gif" height="300" width="600">
            </div>
        </td>
        </tr>
      </tbody>
    </table>
</div>
