<div *ngIf="remoteDevices.length==0">{{msg}}</div>

<h3 style="text-align:center;">
  <b>Discovered Devices</b>
</h3>

<table class="table table-hover" *ngIf="remoteDevices.length!=0" border=1>
  <thead>
    <tr>
      <th scope="col">Index</th>
      <th scope="col">Device Id</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active" *ngFor="let device of remoteDevices; let i=index;">
      <td>{{i+1}}</td>
      <td>{{device}}</td>
      <td (click)="discdevice(device)">
        <button>Add</button>
      </td>
    </tr>
  </tbody>
</table>

<h3 *ngIf="isAdded" style="text-align:center; color:green">{{temp}}</h3>